.blocks {
    width: 87vw;
    margin: 20px auto 0 auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    transition: opacity 0.5s;
}

.block {
    background: rgba(0, 0, 0, 0.7);
    height: calc(60px + 0.9vw);
    width: calc(90px + 11vw);
    flex: 1 0;
    padding: 0 calc(5px + 0.3vw);
    margin: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgb(255 255 255 / 20%);
    > * {
        margin: 0.15vw;
    }
    > :nth-child(2) {
        flex: 1 0;
    }
}

// enable only 2 rows of 2 blocks on small screens:

@media screen and (max-width: 800px) {
    .blocks {
        margin-top: -14vh;
    }

    .block:first-child:nth-last-child(3),
    .block:first-child:nth-last-child(3) ~ .block {
        flex-basis: 30%;
    }

    .block:first-child:nth-last-child(4),
    .block:first-child:nth-last-child(4) ~ .block {
        flex-basis: 30%;
    }
}

.hideBlock {
    opacity: 0;
}

.numberCircle {
    border-radius: 50%;
    width: calc(15px + 1vw);
    height: calc(15px + 1vw);
    padding: calc(3px + 0.5vw);
    border: 2px solid white;
    color: white;
    text-align: center;
    font-weight: lighter;
    font: calc(15px + 0.6vw) Arial, sans-serif;
}

.blockContent {
    color: white;
    font-size: calc(12px + 0.4vw);
    text-align: center;
}
