<div [ngClass]="{'w100':true,'hideBlock':GD.status>=1}">
    <div class="blocks">
        <div class="block">
            <div class="column-center">
                <div class="numberCircle">1</div>
            </div>
            <div class="column-center">
                <div class="blockContent">
                    {{inst_1}}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="column-center">
                <div class="numberCircle">2</div>
            </div>
            <div class="column-center">
                <div class="blockContent">
                    {{inst_2}}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="column-center">
                <div class="numberCircle">3</div>
            </div>
            <div class="column-center">
                <div class="blockContent">
                    {{inst_3}}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="column-center">
                <div class="numberCircle">4</div>
            </div>
            <div class="column-center">
                <div class="blockContent">
                    {{inst_4}}
                </div>
            </div>
        </div>
    </div>
</div>