<div id="popupOverlay" (click)="overlayClk($event)" [ngClass]="{'popupShader column-center':true,'show':GD.status==5}">
    <div id="popup1" [ngClass]="{'popup column-row-centered':true,'showPopup':GD.status==5}">
        <h2>
            {{GD.correct ? ("Congrats," | uppercase) : ("oh no!" | uppercase)}}
        </h2>
        <h3>
            {{GD.correct ? "You've won!" : "You didn't win this round"}}

        </h3>
        <p>
            {{GD.correct ?this.currencyPipeStr + " bingo bonus" : "Try again next time :)"}}
        </p>
        <button class="restartBtn column-center" (click)="goAgain()">
            <span style="margin: auto;">
                {{"play again"|uppercase}}
            </span>
        </button>
    </div>
</div>