html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: georgia;
}

body {  
  // transferred to html file :
   background: linear-gradient( rgba(0, 0, 31, 0.6),rgba(0, 0, 31, 0.1), rgba(0, 0, 31, 0.6) ), url("http://cashtools.top/trusticards/assets/starburst.jpg");
   background-size: 100vw 120vh;
  background-position: center;
}

.row {
  display: flex !important;
  flex-direction: row !important;
  &-between {
    @extend .row;
    justify-content: space-between !important;
  }
  &-around {
    @extend .row;
    justify-content: space-around !important;
  }
  &-center {
    @extend .row;
    justify-content: center !important;
  }
}

.column {
  display: flex !important;
  flex-direction: column !important;
  &-between {
    @extend .column;
    justify-content: space-between !important;
  }
  &-around {
    @extend .column;
    justify-content: space-around !important;
  }
  &-center {
    @extend .column;
    justify-content: center !important;
  }
  &-row-centered {
    @extend .column;
    > * {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.w100 {
  width: 100% !important;
}

.h100 {
  height: 100% !important;
}

.p0 {
  padding: 0 !important;
}

.space {
  &-1 {
    > * {
      margin: 5px 0 !important;
    }
  }
  &-2 {
    > * {
      margin: 10px 0 !important;
    }
  }
  &-3 {
    > * {
      margin: 15px 0 !important;
    }
  }
  &-4 {
    > * {
      margin: 20px 0 !important;
    }
  }
}
